/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/app/elofic-fieldkonnect-firebase-adminsdk-fbsvc-9eab4a7d6a.json
/storage/app/elofic-fieldkonnect-firebase-adminsdk-fbsvc-7f8e05239a.json
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
/public/uploads
/public/pdf/orders
/padmin
/docs
*.aab
*.aab
