.blue-login-button{
	background: linear-gradient(60deg, #00aadb, #00aadb) !important;
}
.color-white{
	color: white !important;
}
.card .card-header-theme .card-icon, .card .card-header-theme:not(.card-header-icon):not(.card-header-text), .card.bg-theme, .card.card-rotate.bg-theme .front, .card.card-rotate.bg-theme .back {
    background: linear-gradient(60deg, #fdd835, #fbeb3b);
    color: #1d1a07;
    background-color: #00aadb!important;
    background: unset;
}
.bg-theme {
    background-color: #00aadb !important;
}
@media (max-width: 767px) {
	.logo-main img{
		width: 100% !important;
	}
}
